@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  transition: all 0.5s linear;
  &.hidden {
    opacity: 0 !important;
    position: absolute;
  }
  &.show {
    animation: load 0.5s linear forwards;
  }
}
.sliderWrap {
  width: 100%;
}
.slider {
  width: 100%;
  & > div {
    transform-style: unset;
  }
  .slide {
    aspect-ratio: 1/1.2;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    &:global(.swiper-slide-active) {
      transform: translate3d(0, 0, 0) !important;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.9;
      border-radius: 12px;
    }
  }
}
.slideControl {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s linear;
    &.icon {
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
  .progressWrap {
    display: flex;
    align-items: center;
    gap: 6px;
    span {
      color: white;
    }
    .progress {
      display: flex;
      align-items: center;
      gap: 2px;

      .step {
        width: 2px;
        height: 10px;
        background-color: white;
        transition: all 0.2s linear;
        &.hit {
          background-color: #ff65bd;
          box-shadow: 0px 1px 2px 0 #ff65bd;
        }
      }
    }
  }
}

.projectInfoWrap {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: opacity 0.5s linear;
  &.hidden {
    opacity: 0;
  }
  .title {
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
  .duration {
    color: white;
    font-size: 16px;
  }
}
