.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //   background-color: black;
  z-index: 1;
  //   background-color: #141114;
  background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

@keyframes clear {
  0% {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.9);
  }
  100% {
    backdrop-filter: blur(0px);
    background-color: rgba(0, 0, 0, 0);
  }
}
@keyframes dark {
  0% {
    backdrop-filter: blur(0px);
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    backdrop-filter: blur(0.2px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.blurAnimation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: clear 0.7s linear forwards;
  z-index: 1;
  &.dark {
    animation: dark 1s linear forwards;
  }
}

@font-face {
  font-family: 'BMEuljiro10yearslater';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/BMEuljiro10yearslater.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.sign {
  position: absolute;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b1839,
    transparent
  );
  transform: translate(-50%, -50%) rotate(-10deg);
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  text-align: center;
  animation: shine 2s forwards, flicker 3s infinite;
  span {
    font-family: 'BMEuljiro10yearslater' !important;
    text-transform: uppercase;
    font-size: 4.2em;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    line-height: 0.7;
    color: #ffe6ff;
    display: inline-block;
    transition: transform 0.8s ease;
    transform-origin: center bottom;
    &.flicker {
      animation: shine 2s forwards, blink 3s 1s infinite;
    }

    &.fastFlicker {
      animation: shine 2s forwards, blink 1s 2s infinite;
    }
    &.rotate {
      transform: rotate(-185deg);
      animation: rotate 2.4s 1s linear infinite;
      color: #ff65bd;
      text-shadow: none;
    }
  }
  .breakLine {
    height: 40px;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(-185deg);
  }
  50% {
    transform: rotate(-160deg);
  }
  100% {
    transform: rotate(-185deg);
  }
}
@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}
